
/*****/

.event1 {
    background: url(../images/bg-white.jpg);
    background-size: cover;
}

.event1 .image {
    top: 50%;
    left: 30%;
    background: url(../images/macbook-1.png) no-repeat center center;
    background-size: 100%;
}

.event1 .text-container {
    top: 40%;
    right: 80%;
}

.event2 {
    background: url(../images/bg-dark-purple.jpg);
    background-size: cover;
}

.event2 .image {
    background: url(../images/macbook-2.png) no-repeat center center;
    background-size: 100%;
}



.event4 {
    background: url(../images/photo-6.jpg);
    background-size: cover;
}

.event4 .image {
    background: url(../images/macbook-1.png) no-repeat center center;
    background-size: 100%;
}

.image {
    top: -50%;
    left: 30%;
    background-size: contain;
    position: relative;
    margin-top: -375px;
    margin-left: -375px;
    height: 750px;
    width: 60%;
}

.text-container {
    top: -60%;
    left: 80%;
    background-size: contain;
    position: relative;
    margin-top: -375px;
    margin-left: -275px;
    height: 500px;
    width: 30%;
}

.text-container p {
    color: #fff;
}

.text-container h1 {
    color: #fff;
}

.event1 .text-container p {
    color: #3f434a;
}

.event1 .text-container h1 {
    color: #3f434a;
}

.pinWrapper {
    height: 100%;
    width: 100%;
}

.event {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
    top: 100px;
}

.event1 button {
    border-color: #3f434a;
}

.event2 button {
    border-color: #fff;
    color: #fff;
}

.event3 button {
    border-color: #fff;
    color: #fff;
}

.event4 button {
    border-color: #fff;
    color: #fff;
}

.a1 {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.a2 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.a3 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}



